body{
    margin : 0px;
    background-color: #F6F7EB;
}
#title_wrap{
    background-color:#393E41;
    display: flex;
    padding: 25px;
    border-bottom: 5px solid #E94F37;
    margin-bottom: 50px;
    width: 100vw;
}
#waffle_logo{
    box-shadow: 5px 5px 10px #1b1b1b ;
}
#waffle_text{
    color: #F6F7EB;
    margin-left: 40px;
    font-size: 40px;
    cursor: default;
}
#name_box{
    background-color: #393E41;
    overflow : auto; 
    margin : auto;
    width:650px; 
    height:500px;
    border: 5px dashed #E94F37;
    border-radius: 20px;
}

#name_box div{
    margin: auto;
    padding-top: 20px;
    overflow: hidden;
    width: 400px;
    height: 75px;
    font-size: 30px;
    color: #F6F7EB;
    text-align: center;
    border-bottom: 2px solid #F6F7EB;
}

#help{
    position: absolute;
    right : 30px;
    cursor: pointer;
}
#below{
    display: flex;
    justify-content: center;
    padding: 10px;
}
#input{
    margin-left: 15px;
    width: 300px; 
    line-height: 40px;
    font-size: 25px;
}
#button{
    margin-left: 15px;
    line-height:40px;
    padding-right: 10px;
    padding-left: 10px;
}
#menu{
    font-size: 26px;
    margin-top: 7px;
    cursor: default;
}